<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>交互设计-bilibili-用户行为影响</title>

    <!-- Custom fonts for this template-->
    <link href="static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="static/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="static/css/mystyle.css" rel="stylesheet">
</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
            <div class="sidebar-brand-icon rotate-n-15">
                <img class="logo" src="static/img/logo.png">
                <!--<i class="fas fa-laugh-wink"></i>-->
            </div>
            <div class="sidebar-brand-text mx-3">交互设计<sup>&nbsp;bilibili</sup></div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->

        <li class="nav-item">
            <a class="nav-link" href="/">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>主页</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            应用
        </div>

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link" href="/toplist">
                <i class="fas fa-fw fa-list"></i>
                <span>排行榜</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/database">
                <i class="fas fa-fw fa-database"></i>
                <span>数据库</span></a>
        </li>

        <!-- Nav Item - Utilities Collapse Menu -->
        <li class="nav-item active">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
               aria-expanded="true" aria-controls="collapseUtilities">
                <i class="fas fa-fw fa-flask"></i>
                <span>数据分析</span>
            </a>
            <div id="collapseUtilities" class="collapse collapse show" aria-labelledby="headingUtilities"
                 data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header ">主要条目:</h6>
                    <a class="collapse-item " href="/time-infection">投搞时段影响</a>
                    <a class="collapse-item active" href="/interact-infection">用户行为影响</a>
                    <a class="collapse-item" href="/word-infection">文字关联性影响</a>

                </div>
            </div>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            关于
        </div>

        <!-- Nav Item - Charts -->
                   <li class="nav-item">
                <a class="nav-link" href="https://github.com/Zfour/bili-data-analysis">
                    <i class="fas fa-star"></i>
                    <span>项目仓库</span></a>
            </li>

            <!-- Nav Item - Tables -->
            <li class="nav-item">
                <a class="nav-link" href="https://zfe.space/">
                    <i class="fas fa-fw fa-table"></i>
                    <span>关于我</span></a>
            </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>


    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>

                <!-- Topbar Search
                <form
                    class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                    <div class="input-group">
                        <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                            aria-label="Search" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </form> -->

                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">

                    <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                    <li class="nav-item dropdown no-arrow d-sm-none">
                        <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-search fa-fw"></i>
                        </a>
                        <!-- Dropdown - Messages -->
                        <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                             aria-labelledby="searchDropdown">
                            <form class="form-inline mr-auto w-100 navbar-search">
                                <div class="input-group">
                                    <input type="text" class="form-control bg-light border-0 small"
                                           placeholder="Search for..." aria-label="Search"
                                           aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="button">
                                            <i class="fas fa-search fa-sm"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>

                    <!-- Nav Item - Alerts -->
                    <li class="nav-item dropdown no-arrow mx-1">
                        <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-rss fa-fw"></i>
                            <span style="padding-left: 10px">zfe.one</span>
                            <!-- Counter - Alerts
                            <span class="badge badge-danger badge-counter">3+</span>-->
                        </a>
                        <!-- Dropdown - Alerts -->
                        <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="alertsDropdown">
                            <h6 class="dropdown-header">
                                Alerts Center
                            </h6>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="mr-3">
                                    <div class="icon-circle bg-primary">
                                        <i class="fas fa-file-alt text-white"></i>
                                    </div>
                                </div>
                                <div>
                                    <div class="small text-gray-500">December 12, 2019</div>
                                    <span class="font-weight-bold">A new monthly report is ready to download!</span>
                                </div>
                            </a>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="mr-3">
                                    <div class="icon-circle bg-success">
                                        <i class="fas fa-donate text-white"></i>
                                    </div>
                                </div>
                                <div>
                                    <div class="small text-gray-500">December 7, 2019</div>
                                    $290.29 has been deposited into your account!
                                </div>
                            </a>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="mr-3">
                                    <div class="icon-circle bg-warning">
                                        <i class="fas fa-exclamation-triangle text-white"></i>
                                    </div>
                                </div>
                                <div>
                                    <div class="small text-gray-500">December 2, 2019</div>
                                    Spending Alert: We've noticed unusually high spending for your account.
                                </div>
                            </a>
                            <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                        </div>
                    </li>

                    <!-- Nav Item - Messages -->
                    <li class="nav-item dropdown no-arrow mx-1">
                        <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-envelope fa-fw"></i><span
                                style="padding-left: 10px">499984532@qq.com</span>
                            <!-- Counter - Messages
                            <span class="badge badge-danger badge-counter">7</span>-->
                        </a>
                        <!-- Dropdown - Messages -->
                        <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="messagesDropdown">
                            <h6 class="dropdown-header">
                                Message Center
                            </h6>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="dropdown-list-image mr-3">
                                    <img class="rounded-circle" src="static/img/undraw_profile_1.svg"
                                         alt="">
                                    <div class="status-indicator bg-success"></div>
                                </div>
                                <div class="font-weight-bold">
                                    <div class="text-truncate">Hi there! I am wondering if you can help me with a
                                        problem I've been having.
                                    </div>
                                    <div class="small text-gray-500">Emily Fowler · 58m</div>
                                </div>
                            </a>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="dropdown-list-image mr-3">
                                    <img class="rounded-circle" src="static/img/undraw_profile_2.svg"
                                         alt="">
                                    <div class="status-indicator"></div>
                                </div>
                                <div>
                                    <div class="text-truncate">I have the photos that you ordered last month, how
                                        would you like them sent to you?
                                    </div>
                                    <div class="small text-gray-500">Jae Chun · 1d</div>
                                </div>
                            </a>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="dropdown-list-image mr-3">
                                    <img class="rounded-circle" src="static/img/undraw_profile_3.svg"
                                         alt="">
                                    <div class="status-indicator bg-warning"></div>
                                </div>
                                <div>
                                    <div class="text-truncate">Last month's report looks great, I am very happy with
                                        the progress so far, keep up the good work!
                                    </div>
                                    <div class="small text-gray-500">Morgan Alvarez · 2d</div>
                                </div>
                            </a>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="dropdown-list-image mr-3">
                                    <img class="rounded-circle" src="https://source.unsplash.com/Mv9hjnEUHR4/60x60"
                                         alt="">
                                    <div class="status-indicator bg-success"></div>
                                </div>
                                <div>
                                    <div class="text-truncate">Am I a good boy? The reason I ask is because someone
                                        told me that people say this to all dogs, even if they aren't good...
                                    </div>
                                    <div class="small text-gray-500">Chicken the Dog · 2w</div>
                                </div>
                            </a>
                            <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
                        </div>
                    </li>

                    <div class="topbar-divider d-none d-sm-block"></div>

                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class="img-profile rounded-circle"
                                 src="https://zfe.space/images/headimage.png">
                            <span style="margin-left: 20px"
                                  class="mr-2 d-none d-lg-inline text-gray-600 small">作者：冰卡诺</span>

                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                Profile
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                Settings
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                Activity Log
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Logout
                            </a>
                        </div>
                    </li>

                </ul>

            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <h1 class="h3 mb-2 text-gray-800">用户行为影响</h1>
                <p class="mb-4">分析用户的行为有助于帮助我们了解用户的行为偏好。</p>
                <!-- Content Row -->
                <div class="row">

                    <!-- 发布日期分布 -->
                    <div class="col-xl-6 col-lg-6">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">行为趋势（正相关）</h6>
                                <div class="dropdown no-arrow">


                                </div>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body">
                                <div class="chart-area">
                                    <!-- <canvas id="myAreaChart"></canvas> -->

                                    <div id="mostaction-data-bili-video" style="width: 100%;height:100%;"></div>
                                </div>
                                <hr>
                            </div>
                        </div>
                    </div>

                    <!-- 播放量分布 -->
                    <div class="col-xl-6 col-lg-6">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">行为趋势（负相关）</h6>
                                <div class="dropdown no-arrow">


                                </div>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body">
                                <div class="chart-area">
                                    <!-- <canvas id="myAreaChart"></canvas> -->

                                    <div id="minaction-data-bili-video" style="width: 100%;height:100%;"></div>
                                </div>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-4 col-lg-4">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">行为量大于“1000”</h6>
                                <div class="dropdown no-arrow">


                                </div>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body">
                                <div class="chart-area">
                                    <!-- <canvas id="myAreaChart"></canvas> -->

                                    <div id="thaction-data-bili-video" style="width: 100%;height:100%;"></div>
                                </div>
                                <hr>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">行为量大于“100”</h6>
                                <div class="dropdown no-arrow">


                                </div>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body">
                                <div class="chart-area">
                                    <!-- <canvas id="myAreaChart"></canvas> -->

                                    <div id="hundaction-data-bili-video" style="width: 100%;height:100%;"></div>
                                </div>
                                <hr>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4 col-lg-4">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">行为量为“0”</h6>
                                <div class="dropdown no-arrow">


                                </div>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body">
                                <div class="chart-area">
                                    <!-- <canvas id="myAreaChart"></canvas> -->

                                    <div id="zeroaction-data-bili-video" style="width: 100%;height:100%;"></div>
                                </div>
                                <hr>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="row">

                    <!-- 发布日期分布 -->
                    <div class="col-xl-6 col-lg-6">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">收藏量与播放量的线性回归分析</h6>
                                <div class="dropdown no-arrow">


                                </div>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body">
                                <div class="chart-area">
                                    <!-- <canvas id="myAreaChart"></canvas> -->

                                    <div id="playaction-data-bili-video" style="width: 100%;height:100%;"></div>
                                </div>
                                <hr>
                            </div>
                        </div>
                    </div>

                    <!-- 播放量分布 -->
                    <div class="col-xl-6 col-lg-6">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">点赞量与播放量的线性回归分析</h6>
                                <div class="dropdown no-arrow">


                                </div>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body">
                                <div class="chart-area">
                                    <!-- <canvas id="myAreaChart"></canvas> -->

                                    <div id="likeaction-data-bili-video" style="width: 100%;height:100%;"></div>
                                </div>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <!-- 发布日期分布 -->
                    <div class="col-xl-6 col-lg-6">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">转发量与播放量的线性回归分析</h6>
                                <div class="dropdown no-arrow">


                                </div>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body">
                                <div class="chart-area">
                                    <!-- <canvas id="myAreaChart"></canvas> -->

                                    <div id="shareaction-data-bili-video" style="width: 100%;height:100%;"></div>
                                </div>
                                <hr>
                            </div>
                        </div>
                    </div>

                    <!-- 播放量分布 -->
                    <div class="col-xl-6 col-lg-6">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">投币量与播放量的线性回归分析</h6>
                                <div class="dropdown no-arrow">


                                </div>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body">
                                <div class="chart-area">
                                    <!-- <canvas id="myAreaChart"></canvas> -->

                                    <div id="coinaction-data-bili-video" style="width: 100%;height:100%;"></div>
                                </div>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <!-- 发布日期分布 -->
                    <div class="col-xl-6 col-lg-6">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">播放量与弹幕量的线性回归分析</h6>
                                <div class="dropdown no-arrow">


                                </div>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body">
                                <div class="chart-area">
                                    <!-- <canvas id="myAreaChart"></canvas> -->

                                    <div id="danmuaction-data-bili-video" style="width: 100%;height:100%;"></div>
                                </div>
                                <hr>
                            </div>
                        </div>
                    </div>

                    <!-- 播放量分布 -->
                    <div class="col-xl-6 col-lg-6">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">收藏量与点赞量的线性回归分析</h6>
                                <div class="dropdown no-arrow">


                                </div>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body">
                                <div class="chart-area">
                                    <!-- <canvas id="myAreaChart"></canvas> -->

                                    <div id="colllike-data-bili-video" style="width: 100%;height:100%;"></div>
                                </div>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; ICE KANO 2020</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="page/login.html">Logout</a>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="static/vendor/jquery/jquery.min.js"></script>
<script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="static/js/sb-admin-2.min.js"></script>


<script src="static/js/echarts.min.js"></script>
<script src='static/js/echarts-stat.js'></script>
<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart1 = echarts.init(document.getElementById('mostaction-data-bili-video'));
    // 指定图表的配置项和数据

    option1 = {
        tooltip: {
            trigger: 'item',
            formatter: '{a} <br/>{b} : {c} ({d}%)'
        },
        legend: {
            orient: 'vertical',
            left: 'left',
        },
        series: [
            {
                name: '单篇稿件中最多的用户行为',
                type: 'pie',
                radius: '50%',
                data: [
                    {value: {{actionmost[0]}}, name:'点赞'},
    {
        value:{{actionmost[1]}},
        name: '投币'
    }
    ,
    {
        value:{{actionmost[2]}}
    ,
        name: '弹幕'
    }
    ,
    {
        value: {{actionmost[3]}}
    ,
        name: '收藏'
    }
    ,
    {
        value: {{actionmost[4]}}
    ,
        name: '转发'
    }
    ],
    emphasis: {
        itemStyle: {
            shadowBlur: 10,
                shadowOffsetX
        :
            0,
                shadowColor
        :
            'rgba(0, 0, 0, 0.5)'
        }
    }
    }
    ]
    }
    ;

    // 使用刚指定的配置项和数据显示图表。
    myChart1.setOption(option1);
</script>
<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart2 = echarts.init(document.getElementById('minaction-data-bili-video'));

    // 指定图表的配置项和数据

    option2 = {
        tooltip: {
            trigger: 'item',
            formatter: '{a} <br/>{b} : {c} ({d}%)'
        },
        legend: {
            orient: 'vertical',
            left: 'left',
        },
        series: [
            {
                name: '单篇稿件中最少的用户行为',
                type: 'pie',
                radius: '50%',
                data: [
                    {value: {{actionmin[0]}}, name:'点赞'},
    {
        value:{{actionmin[1]}}
    ,
        name: '投币'
    }
    ,
    {
        value:{{actionmin[2]}}
    ,
        name: '弹幕'
    }
    ,
    {
        value: {{actionmin[3]}}
    ,
        name: '收藏'
    }
    ,
    {
        value: {{actionmin[4]}}
    ,
        name: '转发'
    }
    ],
    emphasis: {
        itemStyle: {
            shadowBlur: 10,
                shadowOffsetX
        :
            0,
                shadowColor
        :
            'rgba(0, 0, 0, 0.5)'
        }
    }
    }
    ]
    }
    ;

    // 使用刚指定的配置项和数据显示图表。
    myChart2.setOption(option2);
</script>
<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart3 = echarts.init(document.getElementById('zeroaction-data-bili-video'));

    // 指定图表的配置项和数据
    option3 = {
        tooltip: {
            trigger: 'axis',
            axisPointer: {
                type: 'shadow'
            }
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        xAxis: {
            type: 'value',
            boundaryGap: [0, 0.01]
        },
        yAxis: {
            type: 'category',
            data: ['点赞', '投币', '弹幕', '收藏', '转发']
        },
        series: [
            {
                name: '1000件稿件中有',
                type: 'bar',
                data: {{zero}}
    }
    ]
    }
    ;


    // 使用刚指定的配置项和数据显示图表。
    myChart3.setOption(option3);
</script>
<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart4 = echarts.init(document.getElementById('thaction-data-bili-video'));

    // 指定图表的配置项和数据
    option4 = {
        tooltip: {
            trigger: 'axis',
            axisPointer: {
                type: 'shadow'
            }
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        xAxis: {
            type: 'value',
            boundaryGap: [0, 0.01]
        },
        yAxis: {
            type: 'category',
            data: ['点赞', '投币', '弹幕', '收藏', '转发']
        },
        series: [
            {
                name: '1000件稿件中有',
                type: 'bar',
                data: {{thousand}}
    }
    ]
    }
    ;


    // 使用刚指定的配置项和数据显示图表。
    myChart4.setOption(option4);
</script>
<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart5 = echarts.init(document.getElementById('hundaction-data-bili-video'));

    // 指定图表的配置项和数据
    option5 = {
        tooltip: {
            trigger: 'axis',
            axisPointer: {
                type: 'shadow'
            }
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        xAxis: {
            type: 'value',
            boundaryGap: [0, 0.01]
        },
        yAxis: {
            type: 'category',
            data: ['点赞', '投币', '弹幕', '收藏', '转发']
        },
        series: [
            {
                name: '1000件稿件中有',
                type: 'bar',
                data: {{hundred}}
    }
    ]
    }
    ;


    // 使用刚指定的配置项和数据显示图表。
    myChart5.setOption(option5);
</script>
<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart6 = echarts.init(document.getElementById('playaction-data-bili-video'));
    echarts.registerTransform(ecStat.transform.regression);
    option6 = {
        dataset: [{
            source: {{play_coll_list}},
    },
    {
        transform: {
            type: 'ecStat:regression'
            // 'linear' by default.
        }
    }
    ],
    toolbox: {
        feature: {
            dataZoom: {
            }
        ,
            brush: {
                type: ['rect', 'polygon', 'clear']
            }
        }
    }
    ,
    brush: {
    }
    ,
    legend: {
        bottom: 5
    }
    ,
    tooltip: {
        trigger: 'axis',
            axisPointer
    :
        {
            type: 'cross'
        }
    }
    ,
    xAxis: {
        min:1,
        name:'播放量(千)',
            splitLine
    :
        {
            lineStyle: {
                type: 'dashed'
            }
        }
    ,
    }
    ,
    yAxis: {
        name:'收藏量',

            splitLine
    :
        {
            lineStyle: {
                type: 'dashed'
            }
        }
    ,
    }
    ,
    series: [{
        symbolSize: 5,
        name: '散点',
        type: 'scatter'
    }, {
        name: '线性回归',
        type: 'line',
        datasetIndex: 1,
        symbolSize: 0.1,
        symbol: 'circle',
        label: {show: true, fontSize: 16},
        labelLayout: {dx: -20},
        encode: {label: 2, tooltip: 1}
    }]
    }
    ;
    // 使用刚指定的配置项和数据显示图表。
    myChart6.setOption(option6);
</script>
<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart7 = echarts.init(document.getElementById('likeaction-data-bili-video'));
    echarts.registerTransform(ecStat.transform.regression);
    option7 = {
        dataset: [{
            source: {{play_like_list}},
    },
    {
        transform: {
            type: 'ecStat:regression'
            // 'linear' by default.
        }
    }
    ],
    toolbox: {
        feature: {
            dataZoom: {
            }
        ,
            brush: {
                type: ['rect', 'polygon', 'clear']
            }
        }
    }
    ,
    brush: {
    }
    ,
    legend: {
        bottom: 5
    }
    ,
    tooltip: {
        trigger: 'axis',
            axisPointer
    :
        {
            type: 'cross'
        }
    }
    ,
    xAxis: {
         min:1,
        name:'播放量(千)',
            splitLine
    :
        {
            lineStyle: {
                type: 'dashed'
            }
        }
    ,
    }
    ,
    yAxis: {
        name:'点赞量',
            splitLine
    :
        {
            lineStyle: {
                type: 'dashed'
            }
        }
    ,
    }
    ,
    series: [{
        symbolSize: 5,
        name: '散点',
        type: 'scatter'
    }, {
        name: '线性回归',
        type: 'line',
        datasetIndex: 1,
        symbolSize: 0.1,
        symbol: 'circle',
        label: {show: true, fontSize: 16},
        labelLayout: {dx: -20},
        encode: {label: 2, tooltip: 1}
    }]
    }
    ;
    // 使用刚指定的配置项和数据显示图表。
    myChart7.setOption(option7);
</script>
<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart8 = echarts.init(document.getElementById('shareaction-data-bili-video'));
    echarts.registerTransform(ecStat.transform.regression);
    option8 = {
        dataset: [{
            source: {{play_share_list}},
    },
    {
        transform: {
            type: 'ecStat:regression'
            // 'linear' by default.
        }
    }
    ],
    toolbox: {
        feature: {
            dataZoom: {
            }
        ,
            brush: {
                type: ['rect', 'polygon', 'clear']
            }
        }
    }
    ,
    brush: {
    }
    ,
    legend: {
        bottom: 5
    }
    ,
    tooltip: {
        trigger: 'axis',
            axisPointer
    :
        {
            type: 'cross'
        }
    }
    ,
    xAxis: {
        min:1,
        name:'播放量(千)',
            splitLine
    :
        {
            lineStyle: {
                type: 'dashed'
            }
        }
    ,
    }
    ,
    yAxis: {
        name:'转发量',

            splitLine
    :
        {
            lineStyle: {
                type: 'dashed'
            }
        }
    ,
    }
    ,
    series: [{
        symbolSize: 5,
        name: '散点',
        type: 'scatter'
    }, {
        name: '线性回归',
        type: 'line',
        datasetIndex: 1,
        symbolSize: 0.1,
        symbol: 'circle',
        label: {show: true, fontSize: 16},
        labelLayout: {dx: -20},
        encode: {label: 2, tooltip: 1}
    }]
    }
    ;
    // 使用刚指定的配置项和数据显示图表。
    myChart8.setOption(option8);
</script>
<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart9 = echarts.init(document.getElementById('coinaction-data-bili-video'));
    echarts.registerTransform(ecStat.transform.regression);
    option9 = {
        dataset: [{
            source: {{play_coin_list}},
    },
    {
        transform: {
            type: 'ecStat:regression'
            // 'linear' by default.
        }
    }
    ],
    toolbox: {
        feature: {
            dataZoom: {
            }
        ,
            brush: {
                type: ['rect', 'polygon', 'clear']
            }
        }
    }
    ,
    brush: {
    }
    ,
    legend: {
        bottom: 5
    }
    ,
    tooltip: {
        trigger: 'axis',
            axisPointer
    :
        {
            type: 'cross'
        }
    }
    ,
    xAxis: {
        min:1,
        name:'播放量(千)',
            splitLine
    :
        {
            lineStyle: {
                type: 'dashed'
            }
        }
    ,
    }
    ,
    yAxis: {
        name:'投币量',

            splitLine
    :
        {
            lineStyle: {
                type: 'dashed'
            }
        }
    ,
    }
    ,
    series: [{
        symbolSize: 5,
        name: '散点',
        type: 'scatter'
    }, {
        name: '线性回归',
        type: 'line',
        datasetIndex: 1,
        symbolSize: 0.1,
        symbol: 'circle',
        label: {show: true, fontSize: 16},
        labelLayout: {dx: -20},
        encode: {label: 2, tooltip: 1}
    }]
    }
    ;
    // 使用刚指定的配置项和数据显示图表。
    myChart9.setOption(option9);
</script>
<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart10 = echarts.init(document.getElementById('danmuaction-data-bili-video'));
    echarts.registerTransform(ecStat.transform.regression);
    option10 = {
        dataset: [{
            source: {{play_danmu_list}},
    },
    {
        transform: {
            type: 'ecStat:regression'
            // 'linear' by default.
        }
    }
    ],
    toolbox: {
        feature: {
            dataZoom: {
            }
        ,
            brush: {
                type: ['rect', 'polygon', 'clear']
            }
        }
    }
    ,
    brush: {
    }
    ,
    legend: {
        bottom: 5
    }
    ,
    tooltip: {
        trigger: 'axis',
            axisPointer
    :
        {
            type: 'cross'
        }
    }
    ,
    xAxis: {
        min:1,
        name:'播放量(千)',
            splitLine
    :
        {
            lineStyle: {
                type: 'dashed'
            }
        }
    ,
    }
    ,
    yAxis: {
        name:'弹幕量',

            splitLine
    :
        {
            lineStyle: {
                type: 'dashed'
            }
        }
    ,
    }
    ,
    series: [{
        symbolSize: 5,
        name: '散点',
        type: 'scatter'
    }, {
        name: '线性回归',
        type: 'line',
        datasetIndex: 1,
        symbolSize: 0.1,
        symbol: 'circle',
        label: {show: true, fontSize: 16},
        labelLayout: {dx: -20},
        encode: {label: 2, tooltip: 1}
    }]
    }
    ;
    // 使用刚指定的配置项和数据显示图表。
    myChart10.setOption(option10);
</script>
<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart11 = echarts.init(document.getElementById('colllike-data-bili-video'));
    echarts.registerTransform(ecStat.transform.regression);
    option11 = {
        dataset: [{
            source: {{coll_like_list}},
    },
    {
        transform: {
            type: 'ecStat:regression'
            // 'linear' by default.
        }
    }
    ],
    toolbox: {
        feature: {
            dataZoom: {
            }
        ,
            brush: {
                type: ['rect', 'polygon', 'clear']
            }
        }
    }
    ,
    brush: {
    }
    ,
    legend: {
        bottom: 5
    }
    ,
    tooltip: {
        trigger: 'axis',
            axisPointer
    :
        {
            type: 'cross'
        }
    }
    ,
    xAxis: {
        name:'点赞量',
            splitLine
    :
        {
            lineStyle: {
                type: 'dashed'
            }
        }
    ,
    }
    ,
    yAxis: {
        name:'收藏量',
            splitLine
    :
        {
            lineStyle: {
                type: 'dashed'
            }
        }
    ,
    }
    ,
    series: [{
        symbolSize: 5,
        name: '散点',
        type: 'scatter'
    }, {
        name: '线性回归',
        type: 'line',
        datasetIndex: 1,
        symbolSize: 0.1,
        symbol: 'circle',
        label: {show: true, fontSize: 16},
        labelLayout: {dx: -20},
        encode: {label: 2, tooltip: 1}
    }]
    }
    ;
    // 使用刚指定的配置项和数据显示图表。
    myChart11.setOption(option11);
</script>
<script type="text/javascript">
    if($('#accordionSidebar').hasClass('toggled')){
        myChart1.resize();
        myChart2.resize();
        myChart3.resize();
        myChart4.resize();
        myChart5.resize();
        myChart6.resize();
        myChart7.resize();
        myChart8.resize();
        myChart9.resize();
        myChart10.resize();
        myChart11.resize();
    }

</script>
</body>

</html>